
      <div class="card mb-3 main_content" >
        <div class="card-header">
          <i class="fa fa-table"></i><h3 class="text-center">{{'Heading.welcome' | translate}}</h3></div>
        <div class="card-body">
          
          <div class="row" *ngIf="loader">
            <div class="data_loader">
                <img src="assets/loader.gif" alt="Loading.." >
            </div>
          </div>
          <div class="table-responsive" *ngIf="!loader" [@flyInOut]="'in'">
            <p *ngIf="stars.length <= 0">{{err}}</p>
            <table class="table table-striped"  width="100%" cellspacing="0" *ngIf="stars.length > 0">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Birth Year</th>
                  <th>Gender</th>
                  <th>Number of Films</th>
                  
                </tr>
              </thead>
              <tbody *ngFor="let star of stars; let i = index;" >
                <tr data-toggle="collapse" [attr.data-target]="'#demo'+i" class="accordion-toggle" (click)="showStar(i)" [@heroState]="star.active">
                  <td>{{star.name}}</td>
                  <td>{{star.birth_year}}</td>
                  <td>{{star.gender}}</td>
                  <td>{{star.films.length}}</td>

                </tr>
                <tr class="child_row">
                  <td colspan="4" class="hiddenRow">
                    <div class="accordian-body collapse" id="demo{{i}}">
                        <h6>{{star.name}}</h6>
                        <div class="row" >
                            <div class="col-md-4">
                              <div class="row"><div class="col-md-3">Height</div><div class="col-md-5">{{star.height}}</div></div>
                              <div class="row"><div class="col-md-3">Mass</div><div class="col-md-5">{{star.mass}}</div></div>
                              <div class="row"><div class="col-md-3">Hair Color</div><div class="col-md-5">{{star.height}}</div></div>
                            </div>
                            <div class="col-md-6">
                              <div class="row"><div class="col-md-6">Eye color</div><div class="col-md-6">{{star.eye_color}}</div></div>
                              <div class="row"><div class="col-md-6">Home world</div><div class="col-md-6"><a href="{{star.homeworld}}" target="_blank_blank">Link</a>&nbsp;&nbsp;({{star.homeworld}})</div></div>
                            </div>
                          </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <button (click)="incrementCounter()">{{_counterSvc.counterValue}}</button>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
