@import '~bootstrap/dist/css/bootstrap.css';
/* You can add global styles to this file, and also import other style files */
.data_loader{
    margin: auto;
}
.data_loader>img{
    width: 200px !important;
}

.active{
    text-decoration-line: underline;
    text-decoration-style: double;
    color: antiquewhite;
}